@import "../../../resources/colors.scss";
@import "../../../resources/mediaQueries.scss";

.trmultimedia_container {
  width: 100%;
  .tour_content {
    width: 92%;
    margin: auto;
  }
  .tour {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    .title_tour {
      border-radius: 25px;
      background-color: $primary-800;
      padding: 8px 12px;
      color: white;
    }
  }

  .iframe_kuula {
    width: 100%;
    height: 600px;
  }
}

@media (min-width: $desktop) {
  .iframe_kuula {
    min-height: 800px;
  }
}
