@font-face {
  font-family: "avenirBold";
  src: url("../assets/avenir_ff/AvenirLTStd-Black.otf") format("truetype");
}

@font-face {
  font-family: "avenirSemiBold";
  src: url("../assets/avenir_ff/AvenirLTStd-Roman.otf") format("truetype");
}

@font-face {
  font-family: "avenir";
  src: url("../assets/avenir_ff/AvenirLTStd-Book.otf") format("truetype");
}

@font-face {
  font-family: "anton";
  src: url("../assets/anton/Anton-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "montserrat";
  src: url("../assets/montserrat/Montserrat-Black.ttf") format("truetype");
}

/* Puedes utilizar la fuente importada en tu estilo */

.anton {
  font-family: "anton";
}

.montserrat {
  font-family: "montserrat";
}

.bold {
  font-family: "avenirBold";
}

.semiBold {
  font-family: "avenirSemiBold";
}

.bigText {
  font-size: 24px;
}

.mediumText {
  font-size: 18px;
}

.textCenter {
  text-align: center;
}

p {
  font-family: "avenir";
}
