@import "../../../resources/mediaQueries.scss";

.portada_container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;

  .lotes_container {
    position: absolute;
    top: 1%;
    right: 2%;
    width: 38%;

    img.lotes {
      width: 100%;
      height: 100px;
      object-fit: contain;
    }
  }

  .video_container {
    padding-top: 30px;
    height: 100%;
    width: 100%;
    z-index: -1;

    .gif_portada {
      width: 100%;
      height: 400px;
      object-fit: cover;
      object-position: center;
    }
  }
}

.card_desktop_container {
  display: none;
}

@media screen and (min-width: $desktop) {
  .portada_container {
    .lotes_container {
      position: absolute;
      top: 1%;
      left: 1%;
      width: 30%;

      img.lotes {
        height: 200px;
        object-fit: contain;
      }
    }

    .video_container {
      padding-top: 30px;
      height: 750px;
      width: 100%;
      z-index: -1;

      .gif_portada {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 0 68%;
      }
    }
  }

  .card_desktop_container {
    display: block;
    position: absolute;
    left: 3%;
    bottom: 4%;
  }
}

@keyframes scrollAnimation {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50%);
  }
  75% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}
