div.inputError_container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input_field {
  font-size: 18px;
  padding: 15px 11px 10px 11px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  outline: 0px;

  &.required {
    border: 1px solid red;
  }
}

.input_field[disabled] {
  opacity: 1; /* Ajusta la opacidad según sea necesario */
  background-color: #f0f0f0; /* Cambia el color de fondo según sea necesario */
  /* Otros estilos si es necesario */
}

input[type="checkbox"].input_field {
  transform: scale(
    1.1
  ); /* Ajusta el valor según lo grande que desees el checkbox */
  margin-right: 10px;
}

span.errorMessage {
  color: red;
  font-size: 15px;
}
