@import "../../../resources/colors.scss";
@import "../../../resources/mediaQueries.scss";

.trwehave_container {
  .condominio {
    margin-top: 15px;
    font-weight: bold;
  }
  .header {
    display: flex;
    justify-content: center;
    .weHave {
      color: white;
      padding: 10px 15px;
      background-color: $primary;
      text-align: center;
      border-radius: 24px;
    }
  }

  .list_benefits {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    .item_benefit {
      padding: 30px 12px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      background-color: $primary-100;
      color: $primary-500;
      border: 2px solid $primary-400;
      border-radius: 20px;
      text-align: center;
      width: 130px;
      max-width: 100%;
    }
  }
}

@media screen and (min-width: $desktop) {
  .list_benefits {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .item_benefit {
      min-width: 220px;
    }
  }
}
